table,td
{
    border : 1px solid red;
    width: 10%;
    align-items: center;
    text-align: center;
    font-size: medium;
    margin: 0%;
    background-color: white;
    

}
h1{
    text-align: center;
    text-shadow: 3mm;
    color: rgb(6, 138, 138);
    
}
button
{   border :0px;
    background-color: white;
    color: black;
    text-size-adjust: 10px;

}
button:hover
{
    background-color:  rgb(12, 34, 122);
}
div 
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.jack
{
    background-color: rgb(192, 17, 17);
}

